<div class="share">
	<!-- JiaThis Button BEGIN -->
	<div class="jiathis_style">
		<span class="jiathis_txt"><%= __('post.share') %>：</span>
		<a class="jiathis_button_tsina"></a>
		<a class="jiathis_button_cqq"></a>
		<a class="jiathis_button_weixin"></a>
		<a class="jiathis_button_qzone"></a>
		<a class="jiathis_button_douban"></a>
		<a class="jiathis_button_tieba"></a>
		<a class="jiathis_button_renren"></a>
		<a class="jiathis_button_twitter"></a>
		<a class="jiathis_button_googleplus"></a>
		<a class="jiathis_button_tumblr"></a>
		<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
	</div>
	<script type="text/javascript" src="https://tomoat.github.io/JiathisViaHttps/jia.js?uid=1705212" charset="utf-8"></script>
	<!-- JiaThis Button END -->
</div>